@page "/categories/{id:int}"

@inject ApplicationDbContext Context
@inject NavigationManager Navigation

@rendermode InteractiveServer

<h1>Visualização - @Model.Title</h1>

<EditForm Model="@Model">
    <div class="row mb-3">
        <div class="col-md-12">
            <label for="@Model.Title" class="col-form-label">Título</label>
            <InputText @bind-Value="Model.Title" class="form-control" readonly />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" onclick="@(() => NavigateBack())">Voltar</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; } = 0;
    public Category Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var cat = await Context.Categories.AsNoTracking().FirstOrDefaultAsync(x => x.Id == Id);
        if (cat is not null)
            Model = cat;
    }

    public void NavigateBack()
    {
        Navigation.NavigateTo("categories");
    }
}
